/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 26, 2021, 10:33:22 AM
    Author     : natali
*/

.grid{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}
body {
        
 height: 100vh;
  display: flex;
  background: palegoldenrod; 
 }
 
 .card{
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
 }
 
 .taisn{
    width: calc(25% - 10px);
  height: calc(25% - 10px); 
  margin: 5px;
  position: relative;
 }